body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 206, 212);
}

header {
  display: flex;
  padding: 30px 40px;
  align-items: center;
  justify-content: center;
  gap: 5pc;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.current-weather {
  height: 50%;
  display: flex;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 80%;
  align-self: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  position: relative;
}

.current-weather .resolvedAddress {
  position: absolute;
  top: 20px;
  right: 20px;
}

.current-weather .temp {
  position: absolute;
  top: 20px;
  left: 20px;
}

.current-weather .conditions {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.current-weather .feelslike {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  overflow-x: auto; /* Add horizontal scroll if needed */
  padding: 20px;
  height: 46%;
  align-items: center;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.date {
  align-self: center;
}

.day-temp,
.temp,
.feelslike,
.conditions,
.resolvedAddress {
  font-size: 1.5em;
  font-weight: bold;
  margin: auto 0;
}

.descrip,
.hi-lo {
  align-self: flex-start;
}
